<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.curator" level="${LOG_LEVEL_ZOOKEEPER:-WARN}" />
    <logger name="org.apache.zookeeper" level="${LOG_LEVEL_ZOOKEEPER:-WARN}" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>